Repository jralvarenga/assignit, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, translation

Translatiosn added
  languages/en.jsonc
  languages/es.jsonc
Labels: translation

Firebase emulator added
  .firebaserc
  .gitignore
  firebase.json
Labels: none

Emulator data
  em_data/firebase-export-metadata.json
  em_data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  em_data/firestore_export/all_namespaces/all_kinds/output-0
  em_data/firestore_export/firestore_export.overall_export_metadata
Labels: none

Added editor config
  .editorconfig
  .em-data/firebase-export-metadata.json
  .em-data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  .em-data/firestore_export/all_namespaces/all_kinds/output-0
  .em-data/firestore_export/firestore_export.overall_export_metadata
Labels: none

Added firebase emulator
  .em-data/firebase-export-metadata.json
  .em-data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  .em-data/firestore_export/all_namespaces/all_kinds/output-0
  .em-data/firestore_export/firestore_export.overall_export_metadata
  emulators/.firebaserc
  emulators/.gitignore
  emulators/firebase.json
Labels: none

Added readme
  README.MD
  emulators/README.MD
Labels: none

Test
  mobile/xd.ts
  web/xd.tsx
Labels: web, mobile

New readme
  README.MD
Labels: none

Added readme
  .gitignore
  README.MD
  assets/assignit_logo.svg
  emulators/.firebaserc
  emulators/.gitignore
  emulators/firebase-debug.log
  emulators/firebase.json
  env/README.md
Labels: none

Added emulator config
  emulators/.gitignore
  emulators/firebase-debug.log
  emulators/firebase.json
Labels: none

Added readme
  web/LICENSE
  web/README.md
Labels: web

Removed yunk files
  mobile/LICENCE
Labels: mobile

added env files
  mobile/.gitignore
  mobile/README.md
  mobile/babel.config.js
  mobile/package.json
  mobile/src/lib/calendar.ts
  mobile/types/declaration.d.ts
  mobile/yarn.lock
Labels: mobile

ENV variables added
  mobile/babel.config.js
Labels: mobile

Minor chnage
  web/gatsby-browser.js
Labels: web

.github/labeler.yml:

web:
  - web/**/*
mobile:
  - mobile/**/*
translation:
  - languages/**/*
