Repository jralvarenga/assignit, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, languages, env

.github/labeler.yml:

web:
  - web/**/*
mobile:
  - mobile/**/*
languages:
  - languages/**/*
env:
  - env/**/*

Integrate tasks with Home
  mobile/src/components/AppFAB.tsx
  mobile/src/pages/Home.tsx
Labels: mobile

Traduccion terminada
  mobile/App.tsx
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/components/TaskContainer.tsx
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/Home.tsx
  mobile/src/pages/ToDoList.tsx
  mobile/src/stack/AppStack.tsx
Labels: mobile

Minor change
  mobile/src/components/TaskContainer.tsx
Labels: mobile

Minor change
  release/output-metadata.json
Labels: none

App test drive
  mobile/App.tsx
Labels: mobile

Added firebase file
  firebase/.gitignore
  firebase/README.MD
  firebase/firebase.json
Labels: none

Added new styles and animations
  mobile/App.tsx
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/assets/animations/done-tasks.json
  mobile/src/assets/animations/todo-list.json
  mobile/src/components/AssignmentContainer.tsx
  mobile/src/components/DatesContainer.tsx
  mobile/src/components/TaskContainer.tsx
  mobile/src/hooks/colorIsLightOrDark.ts
  mobile/src/hooks/useSubjects.ts
  mobile/src/interface/interfaces.ts
  mobile/src/pages/AddAssignments.tsx
  mobile/src/pages/Agenda.tsx
  mobile/src/pages/Assignment.tsx
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/Home.tsx
  mobile/src/pages/NewAssigment.tsx
  mobile/src/pages/NewSubject.tsx
  mobile/src/pages/Settings.tsx
  mobile/src/pages/Subject.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Minor changes
  mobile/App.tsx
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/components/TaskContainer.tsx
  mobile/src/lib/notifications.ts
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Added more lines
  languages/en.jsonc
  languages/es.jsonc
Labels: languages

Minor change
  mobile/src/components/TaskContainer.tsx
Labels: mobile

Minor changes
  mobile/src/components/TaskContainer.tsx
  web/src/pages/app/index.tsx
Labels: web, mobile

New frestore rules
  firebase/firebase.json
  firebase/firestore.indexes.json
  firebase/firestore.rules
  mobile/App.tsx
  mobile/src/pages/Home.tsx
  mobile/src/pages/SignIn.tsx
Labels: mobile

Added repeater tasks
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/components/TaskContainer.tsx
  mobile/src/interface/interfaces.ts
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/Home.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Firebase errors
  mobile/src/interface/interfaces.ts
  mobile/src/pages/Account.tsx
  mobile/src/pages/CreateSubject.tsx
  mobile/src/pages/NewAssigment.tsx
  mobile/src/pages/Settings.tsx
  mobile/src/pages/SignIn.tsx
  mobile/src/services/SubjectsProvider.tsx
Labels: mobile

Update packge
  mobile/package.json
  mobile/yarn.lock
Labels: mobile

Firebase notifications
  mobile/android/app/src/main/AndroidManifest.xml
Labels: mobile

Get firebase notifications
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/index.js
Labels: mobile

Minor styles changes
  mobile/src/components/TaskContainer.tsx
  mobile/src/stack/BottomTabStack.tsx
Labels: mobile

App playstore tester
  mobile/App.tsx
Labels: mobile

Update README.MD
  README.MD
Labels: none

Swipeable tasks
  mobile/android/app/build.gradle
  mobile/package.json
  mobile/src/components/Snackbar.tsx
  mobile/src/components/TaskContainer.tsx
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/ToDoList.tsx
  mobile/yarn.lock
Labels: mobile

Remove app link
  web/src/pages/index.tsx
Labels: web

Nested views fixed
  mobile/App.tsx
  mobile/src/components/TaskContainer.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Minor change
  mobile/App.tsx
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/index.js
  mobile/src/pages/Home.tsx
Labels: mobile

Minor changes
  mobile/src/components/TaskContainer.tsx
  mobile/src/lib/notifications.ts
  mobile/src/stack/AppStack.tsx
Labels: mobile

Buttons better adapted
  mobile/src/components/AssignmentContainer.tsx
  mobile/src/pages/Account.tsx
  mobile/src/pages/AddAssignments.tsx
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/CreateSubject.tsx
  mobile/src/pages/Home.tsx
  mobile/src/pages/NewAssigment.tsx
  mobile/src/pages/NewSubject.tsx
  mobile/src/pages/Settings.tsx
  mobile/src/pages/welcome/Index0.tsx
  mobile/src/pages/welcome/Index1.tsx
  mobile/src/pages/welcome/Index2.tsx
  mobile/src/pages/welcome/Index3.tsx
  mobile/src/pages/welcome/Index4.tsx
  mobile/src/pages/welcome/WelcomeIndex.tsx
  mobile/src/services/theme.ts
Labels: mobile

Minor changes
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/lib/notifications.ts
  mobile/src/pages/Assignment.tsx
  mobile/src/pages/Subject.tsx
Labels: mobile

Version
  mobile/android/app/build.gradle
Labels: mobile

Added today assignments
  languages/en.jsonc
  languages/es.jsonc
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/hooks/useSubjects.ts
  mobile/src/pages/Home.tsx
Labels: mobile, languages

Removed Google services file
  mobile/.gitignore
  mobile/android/app/google-services.json
Labels: mobile

Version state - Ready for production
  mobile/App.tsx
  mobile/android/app/build.gradle
Labels: mobile

Added tasks reminders
  mobile/App.tsx
  mobile/android/app/build.gradle
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/src/components/TaskContainer.tsx
  mobile/src/lib/notifications.ts
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Minor changes
  mobile/App.tsx
  mobile/android/app/build.gradle
Labels: mobile

Added sitemap
  web/gatsby-config.js
  web/package.json
  web/yarn.lock
Labels: web
