Repository jralvarenga/assignit, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, languages, env

Added in app messages
  emulator/.gitignore
  emulator/README.MD
  emulator/firebase.json
  mobile/App.tsx
  mobile/package.json
  mobile/yarn.lock
Labels: mobile

New gitignore feat
  emulator/.gitignore
Labels: none

Test drive 2
  mobile/App.tsx
Labels: mobile

Minor change
  mobile/android/gradle.properties
Labels: mobile

No Google calendar integration
  mobile/App.tsx
  mobile/src/lib/auth.ts
  mobile/src/pages/Account.tsx
  mobile/src/pages/CreateSubject.tsx
  mobile/src/pages/NewAssigment.tsx
  mobile/src/pages/welcome/WelcomeIndex.tsx
  mobile/types/declaration.d.ts
  web/src/pages/index.tsx
Labels: web, mobile

Added failedbump logo
  mobile/src/assets/icons/failedbump_logo.svg
  mobile/src/pages/SignIn.tsx
  mobile/src/pages/welcome/WelcomeIndex.tsx
  web/src/assets/icons/failedbump_logo.svg
  web/src/components/InstallAppModal.tsx
  web/src/pages/index.tsx
Labels: web, mobile

Develop and contribute
  README.MD
Labels: none

Update README.MD
  README.MD
Labels: none

Develop and contribute rules
  README.MD
Labels: none

Material ui minor chnage
  web/gatsby-browser.js
  web/gatsby-config.js
  web/package.json
  web/src/gatsby-theme-material-ui-top-layout/theme.ts
  web/yarn.lock
Labels: web

Minor change
  web/gatsby-config.js
Labels: web

Minor change
  web/gatsby-config.js
Labels: web

Removed trash links
  web/package.json
Labels: web

Deleted trash links
  web/gatsby-config.js
Labels: web

Deleted trash links
  web/gatsby-config.js
  web/package.json
Labels: web

Update README.MD
  README.MD
Labels: none

Minor change
  README.MD
Labels: none

Added firebase
  web/gatsby-browser.js
  web/gatsby-config.js
  web/package.json
  web/src/assets/animations/404.json
  web/src/pages/404.tsx
  web/src/pages/app/index.tsx
  web/src/pages/index.tsx
  web/yarn.lock
Labels: web

Firebase added
  web/gatsby-browser.js
  web/gatsby-config.js
  web/package.json
  web/src/firebase/config.ts
  web/src/interfaces/interfaces.ts
  web/src/pages/app/index.tsx
  web/src/services/AuthProvider.tsx
  web/yarn.lock
Labels: web

Sign in with provider
  mobile/src/lib/auth.ts
  web/src/assets/animations/signin-background.json
  web/src/firebase/config.ts
  web/src/interfaces/interfaces.ts
  web/src/lib/auth.ts
  web/src/lib/firestore.ts
  web/src/pages/app/index.tsx
  web/src/pages/app/sign-in.tsx
  web/src/services/AuthProvider.tsx
Labels: web, mobile

Redirect in sign in
  web/src/pages/app/index.tsx
  web/src/pages/app/sign-in.tsx
  web/src/services/AuthProvider.tsx
Labels: web

Added copy to clipboard
  mobile/App.tsx
  mobile/languages/en.ts
  mobile/languages/es.ts
  mobile/package.json
  mobile/src/pages/Subject.tsx
  mobile/yarn.lock
Labels: mobile

Color picker component
  mobile/src/components/ColorPicker.tsx
  mobile/src/pages/NewSubject.tsx
Labels: mobile

Added screen to home
  mobile/src/pages/ToDoList.tsx
  mobile/src/stack/AppStack.tsx
Labels: mobile

Todo list started
  mobile/src/components/ColorPicker.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Add new task design
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Tasks container done
  mobile/src/interface/interfaces.ts
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/ToDoList.tsx
  mobile/src/services/theme.ts
Labels: mobile

Add, remove, update tasks
  mobile/App.tsx
  mobile/src/interface/interfaces.ts
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/ToDoList.tsx
  mobile/src/services/TasksProvider.tsx
Labels: mobile

Task notis with errors
  mobile/src/components/AppDialog.tsx
  mobile/src/components/DateTimePicker.tsx
  mobile/src/components/Snackbar.tsx
  mobile/src/interface/interfaces.ts
  mobile/src/lib/notifications.ts
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/AddAssignments.tsx
  mobile/src/pages/NewAssigment.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Set as pending and color
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Refresh tasks
  mobile/src/components/AppDialog.tsx
  mobile/src/interface/interfaces.ts
  mobile/src/pages/ToDoList.tsx
  mobile/src/services/TasksProvider.tsx
Labels: mobile

Minor change
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Test tasks
  mobile/App.tsx
Labels: mobile

Minor change
  mobile/App.tsx
  mobile/src/pages/ToDoList.tsx
  release/output-metadata.json
Labels: mobile

Set state of tasks
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Create dates and reminder
  mobile/src/interface/interfaces.ts
  mobile/src/lib/notifications.ts
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/ToDoList.tsx
  mobile/src/stack/AppStack.tsx
Labels: mobile

Create tasks
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/stack/AppStack.tsx
Labels: mobile

See your tasks
  mobile/src/components/TaskContainer.tsx
  mobile/src/pages/ToDoList.tsx
  mobile/src/stack/AppStack.tsx
  mobile/src/stack/BottomTabStack.tsx
Labels: mobile

Notis fixed
  mobile/src/lib/tasksLib.ts
  mobile/src/pages/CreateNewTask.tsx
  mobile/src/pages/ToDoList.tsx
Labels: mobile

Test drive
  mobile/App.tsx
  mobile/release/output-metadata.json
Labels: mobile

.github/labeler.yml:

web:
  - web/**/*
mobile:
  - mobile/**/*
languages:
  - languages/**/*
env:
  - env/**/*
